.header {
  background-size: cover;
  background-position: center;
  background-image: url(/images/image_title.png);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    height: 100vh;
    padding: $headerTopPadding 0 94px;

    @include onTablet() {
      padding: 52px 0 40px;
    }

    @include onDesctop() {
      padding: 52px 0 64px;
    }
  }

  &__title {
    font-style: italic;
    font-weight: 800;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include onTablet() {
      font-size: 40px;
    }

    @include onDesctop() {
      font-size: 48px;
    }

    &::before {
      content: url(/images/menu/vector.svg);
      display: block;
      width: 32px;
      height: 27px;
      margin-bottom: 16px;
    }

    @include onTablet() {
      &::before {
        content: url(/images/menu/vector_desctop.png);
        display: block;
        width: 63px;
        height: 76px;
        margin-bottom: 40px;
      }
    }

    @include onDesctop() {
      &::before {
        margin-bottom: 32px;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @include onTablet() {
      gap: 40px;
    }

    @include onDesctop() {
      gap: 40px;
    }
  }

  &__call{
    text-decoration: none;

    @include onDesctop() {
      &::before {
        content: "+1 234 555-55-55";
        position: relative;
        top: 50%;
        transform: translate(-100%, -50%);
  
        display: block;
        width: max-content;
        padding-right: 12px;
  
        color: $colorText;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        opacity: 0;
        pointer-events: none;
      }

      &:hover::before {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}
